function sum(list) {
  var total = 0;
  for(var i = 0; i < list.length; i++){
    if(list[i].checked){
      total += list[i].number * list[i].good.price;
    }
  }
  return total;
}

function allCheck(list) {
  return list.every(function(item){
    return item.checked
  });
}

module.exports = {
  sum: sum,
  allCheck: allCheck
}